/*GLOBAL*/

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*HEADER*/
.preheader {
	color: black;
	background-color: #1cd1b0;
	font-weight: bold;
}

.titulo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #00669f;
	box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

/*MAIN*/
section {
	padding-top: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 50vh;
}

h1 {
	font-size: 2.5em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
}

input {
	width: 400px;
	height: 2.5em;
	border-width: medium;
}

textarea {
	width: 400px;
	border-width: medium;
}
.botones {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
}

button {
	width: 200px;
	height: 2.5em;
	border-radius: 25px;
	border-width: 0px;
}

.reset {
	color: white;
	font-weight: bold;
	background-color: #888888;
}

.submit {
	color: black;
	font-weight: bold;
	background-color: #1cd1b0;
}

footer {
    
	position: absolute;
	bottom: 0px;
    width: 100vw;
    height: 3em;
    font-size: 10px;
	text-align: center;
    vertical-align: middle;
    color: white;
	background-color: #00669f;
}
